[Unit]
Description=Gunicorn daemon for CDC Relógio (relogio.cdc.org.br)
After=network.target

[Service]
User=root
Group=www-data
WorkingDirectory=/var/www/relogio
ExecStart=/var/www/relogio/venv/bin/gunicorn --workers 3 --bind unix:/run/relogio_cdc.sock cdcRH.wsgi:application

Restart=always
RestartSec=3s

[Install]
WantedBy=multi-user.target
